*.class
.project
.DS_Store
.classpath
.texlipse
.springBeans
bin/
gen/
local.properties
*.iml
*.ipr
*.iws
.idea/
.gradletasknamecache
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradle/libs/GradleRIO.jar
!libs/*.jar
.eclipse